# Include your project-specific ignores in this file
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Useful .gitignore templates: https://github.com/github/gitignore
#
# dependencies
/node_modules
/.pnp
.pnp.js
bower_components

# testing
/coverage

# production
/build
dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
