/* ==========================================================================
   Colors
========================================================================== */
.modal-header {
  background-color: #baebee;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
}

.modal-content {
  color: #333333;
}

.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5 {
  color: #333333;
}

.modal-content p {
  color: #333333;
}

.modal-content .btn {
  padding: 7.45px 20px;
}

.modal-content .button-group a {
  margin: 0px 7px;
}

.modal-icon {
  float: left;
  padding: 0px 20px 20px 0px;
  max-height: 130px;
}

.modal-body {
  min-height: 118px;
  padding: 25px;
}

.modal-body p {
  font-size: 16px;
}

.modal-body h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px 20px;
}

.modal-body .lead {
  margin-bottom: 50px;
  font-size: 18px;
}

.modal-anchor {
  cursor: pointer;
}
