/* ==========================================================================
   Colors
========================================================================== */

// Boilerplate Colors

$html-color: #222222;

$selectors-color: #b3d4fc;

// Horizontal Line Color
$hrLine-color: #cccccc;

$border-gray: #cccccc;
$border-alt: #dddddd;

$box-shadow: #e9e9e9;


$background-main: #ffffff;
$background-alt1: #f4f7fa;
$background-alt2: #000000;
$background-alt3: #333333;

$main-color: #2baab1;
$main-color-hover: #01777D;

$text-white: #ffffff;
$text-alt1: #333333;
$text-alt2: #aaaaaa;


$flag-new: #a9e15c;
$flag-fixed: #ffd73f;


// Social Media
$email: #efbe00;
$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #bb0000;
$linkedin: #0077B5;
$googleplus: #DB4437;
$share: #8fc33b;

$form-button: #f79664;
