/* ==========================================================================
   Colors
========================================================================== */

// Boilerplate Colors

$html-color: #222222;

$selectors-color: #b3d4fc;

// Horizontal Line Color
$hrLine-color: #cccccc;




// Social Media
$email: #efbe00;
$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #bb0000;
$linkedin: #0077B5;
$googleplus: #DB4437;
$share: #8fc33b;
