/* ==========================================================================
   Typography
========================================================================== */

//Fonts
$base-font-family: 'Open Sans', sans-serif;

$alt-font-family:'Open Sans Condensed',
Verdana,
sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy-bold: 900;
