<div class="row">
  <div class="col-md-3">
    <span id="socialMAG"><strong>Follow Us</strong></span>
    <ul class="footerList">
      <li><a href="http://www.facebook.com/pages/MAG-Maricopa-Association-of-Governments/151342484887613"><img src="img/fb_icon.png" alt="Facebook"></a></li>
      <li><a href="http://twitter.com/magregion"><img src="img/twitter_icon.png" alt="Twitter"></a></li>
      <li><a href="http://www.youtube.com/magcommunications"><img src="img/youtube_icon.png" alt="YouTube"></a></li>
    </ul>
  </div>

  <div class="col-md-9">
      <ul id="social" class="pull-right">
        <!-- email -->
        <li><a href="mailto:?subject=MAG Mapping Center&body=%0A%0ACheck out this website.%0A%0AMAG Mapping Center - #MAGmaps%0Ahttp://ims.azmag.gov/" title="MAG|Mapping Center"><img id="mailicon" src="img/email_icon.png"></a></li>

        <!-- Facebook -->
        <li><div id="fb-root"><div class="fb-like" data-href="http://ims.azmag.gov/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></div></li>

        <!-- Twitter -->
        <li><a href="https://twitter.com/share" alt="twitter" class="twitter-share-button" data-count="none" data-url="http://ims.azmag.gov/" data-text="MAG | Mapping Center" data-via="MAGregion" data-hashtags="MAGmaps">Tweet</a></li>

        <!-- Linked-In -->
        <li><script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script><script type="IN/Share" data-url="http://ims.azmag.gov/"></script></li>

        <!-- Google Plus -->
        <li><div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://ims.azmag.gov/"></div></li>

      </ul>
  </div>
</div><!-- /row -->
<p class="pull-right"><a href="#">Back to top</a></p>
<p>Copyright &copy; <span class="copyright"></span> by <a href="http://www.azmag.gov/">Maricopa Association of Governments</a> | <a href="#" data-toggle="modal" data-target="#privacyModal">Privacy</a> | <a href="#" data-toggle="modal" data-target="#termsModal">Terms</a></p>

<!-- Privacy Modal -->
<div id="privacyModal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id=""><strong>Privacy</strong></h2>
      </div>
      <div id="privacy" class="modal-body"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Terms Modal -->
<div id="termsModal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id=""><strong>Terms</strong></h2>
      </div>
      <div id="terms" class="modal-body"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
