<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Heat Relief Regional Network</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="app/images/viewer-icons/icon_heat_relief.png">Each
                year, MAG coordinates the mapping of the Heat Relief Network, a network of partners providing hydration
                stations, refuge locations, and water donation sites throughout the Valley with the goal of preventing
                heat-related and heat caused deaths among vulnerable populations and people experiencing homelessness.
            </p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one"
                    href="https://azmag.gov/Programs/Homelessness/Heat-Relief-Regional-Network" target="_blank">Launch
                    Map</a></p>
        </div>
    </div>
</div>
