<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Projections Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_projections.png">The
                Projections Map Viewer is one of the Maricopa Association of Governments interactive mapping and
                analysis sites, showing socioeconomic projections data. Explore the MAG 2019 Socioeconomic Projections
                series dataset. </p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one"
                    href="https://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
