<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Spine Study</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_spineStudy.png">The Spine Study effort is analyzing various long-term strategies to improve mobility in the corridor. The study is evaluating the full range of transportation modes and concepts to identify the best multi-modal solutions. Explore the MAG Spine Study for Interstate-10 and Interstate-17.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://azmag.maps.arcgis.com/apps/StoryMapBasic/index.html?appid=81fb4d57f848435a8b9d762553559576" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
