<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Regional Activity &amp; Destination Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_recreation.png">The
                Regional Activity and Destination Viewer is one of the Maricopa Association of Governments interactive
                mapping sites, showing all the public parks and recreational opportunities that exist in the region.
                Explore the MAG activity and destination datasets.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one"
                    href="https://recreation.azmag.gov/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
