<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Arizona Demographics Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_statewide-demographics.png">The Arizona Demographics Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing selected population and housing data for the entire State of Arizona. Explore data from Census 2010 and American Community Survey (ACS) 2013-2017 5-year.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
