<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Read On Arizona MapLIT Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_mapLIT.png">Maricopa Association of Governments is part of Read On Arizona's collaborative partnership that created MapLIT, and interactive mapping tool as a "one stop" resource to identify key data sets (census, school, health, family engagement) that impact early literacy outcomes in communities.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="http://readonarizona.org/data-tools/maplit/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
