<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Luke Air Force Base Mission Critical</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_56_FW.png">This interactive map viewer offers extraordinary detail about workforce, transportation,
                education and recreation in the West Valley. Start exploring the unique resources of the available to Luke Air Force Base and the West Valley.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/lukeafb/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
