<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Bikeways Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_bicycle.png">The Bikeways Map Viewer is one of the Maricopa Association of Governments interactive mapping sites, showing locally-designated bicycle facilities data. Explore the MAG Bikeways datasets.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
