<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Arizona Employment Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon-employer-state.png">The Arizona Employment Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing selected statewide employer data. Explore the 2016 Employer Database.</p>
            <div class="modal-footer">
                <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/azemployment/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
</div>
