<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Transportation improvement Program (TIP)</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="images/viewer-icons/icon_tip.png">The MAG Transportation Improvement Program (TIP) is a five year schedule of specific projects to be constructed across the region.  The TIP serves as a five-year guide for the preservation, management and expansion of public transportation services across Maricopa County and portions of Pinal County. The TIP includes a five-year capital improvement program of transportation projects for the region, a financial plan for funding capital, summary on operating and maintenance needs, and a report on the status of major projects.  Use the interactive mapping to explore the capital improvement program of transportation projects for the region.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/tip/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
