<h3>Most Recent Updates</h3>
<section>
    <h4>State Demographic Viewer - v3.2.3</h4>
    <h5>February 26, 2018</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Now replaces the MAG Regional Demographic Viewer</li>
            <li>Updated American Community Survey Data to latest 5 year info</li>
            <li>Added Council Districts to Summary Reports</li>
            <li>Added Supervisor Areas to Summary Reports</li>
            <li>Added Title VI data</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug related to Advanced Query tool</li>
            <li>updated export to PDF function</li>
            <li>Fixed bug in buffer selection tool when user enters 0 distance</li>
            <li>Fixed various typos and updates to source info</li>
        </ul>
    </div>
</section>
