<h3>Most Recent Updates</h3>
<section>
    <h4>Arizona Employer Viewer - v3.2.4</h4>
    <h5>April 24, 2018</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated Employer data</li>
            <li>Added 5+ employers to the map</li>
            <li>Updated contact info</li>
            <li>Added/combined regional employer info</li>
            <li>Added commute Shed info for MAG Region</li>
            <li>Updated PDF reports</li>
            <li>Added some Google analytics events</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed Excel Export issues</li>
            <li>Fixed layer option issues</li>
            <li>Fixed various typos and updates</li>
            <li>Fixed search options</li>
        </ul>
    </div>
</section>
<section>
    <h4>Arizona Demographic Viewer - v3.2.4</h4>
    <h5>April 20, 2018</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated contact info</li>
            <li>Updated legal Census Disclaimer</li>
            <li>Updated legal Census Disclaimer</li>
            <li>Updated COGs and MPOs logo</li>
            <li>Add Non-Hispanic to the ACS report</li>
            <li>Added some Google analytics events</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed Advanced Query tool issues</li>
            <li>Fixed Legend loading issues</li>
            <li>Fixed various typos and updates</li>
        </ul>
    </div>
</section>
<section>
    <h4>Transportation Improvement Program - v1.0.0</h4>
    <h5>April 18, 2018</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Shows Transportation Project Types</li>
            <li>Shows Transportation Project Funding</li>
            <li>Shows Transportation Project locations</li>
            <li>Search Transportation Project database</li>
        </ul>
    </div>
</section>

