<div class="container">
    <div class="row">
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to health map" href="https://geo.azmag.gov/maps/health/" target="_blank"><img alt="mag health icon" class="img-responsive"
                                src="images/viewer-icons/icon_mag_health.png" /></a></p>
                    <h3>Arizona<br>Health Assets</h3>
                    <p>View selected health assets and population data for the State of Arizona.</p>
                    <p class="about-link"><a aria-label="link to health map" data-toggle="modal" data-target="#healthcare">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to health map" href="https://geo.azmag.gov/maps/health/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div> -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to arizona demographics map" href="https://geo.azmag.gov/maps/azdemographics/" target="_blank"><img alt="mag statewide demographics icon"
                                class="img-responsive" src="images/viewer-icons/icon_statewide-demographics.png" /></a></p>
                    <h3>Arizona<br>Demographics</h3>
                    <p>View selected population and housing data for the entire State of Arizona.</p>
                    <p class="about-link"><a aria-label="link to arizona demographics map" data-toggle="modal" data-target="#stateDemographics">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to arizona demographics map" href="https://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to arizona employer map" href="https://geo.azmag.gov/maps/azemployer/" target="_blank"><img alt="mag state employer icon" class="img-responsive"
                                src="images/viewer-icons/icon-employer-state.png" /></a></p>
                    <h3>Arizona<br>Employer</h3>
                    <p>View selected employer data for the entire State of Arizona.</p>
                    <p class="about-link"><a aria-label="link to arizona employer map" data-toggle="modal" data-target="#stateEmployment">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to arizona employer map" href="https://geo.azmag.gov/maps/azemployer/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to maplit map" href="https://readonarizona.org/data-tools/maplit/" target="_blank"><img alt="mag mapLIT icon" class="img-responsive"
                                src="images/viewer-icons/icon_mapLIT.png" /></a></p>
                    <h3>Read On Arizona<br>MapLIT</h3>
                    <p>A resource to identify key data sets that impact early literacy outcomes.</p>
                    <p class="about-link"><a aria-label="link to maplit map" data-toggle="modal" data-target="#readOnAZ">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to maplit map" href="https://readonarizona.org/data-tools/maplit/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to schools data center map" href="https://readonarizona.org/data-tools/arizona-schools-data-center/" target="_blank"><img alt="mag schools data center icon"
                                class="img-responsive" src="images/viewer-icons/icon_schoolsDataCenter.png" /></a>
                    </p>
                    <h3>Read On Arizona<br>Schools Data Center</h3>
                    <p>A tool to help analyze data and drive decisions to improve educational outcomes.</p>
                    <p class="about-link"><a aria-label="link to schools data center map" data-toggle="modal" data-target="#schoolsDataCenter">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to schools data center map" href="https://readonarizona.org/data-tools/arizona-schools-data-center/" target="_blank">Launch
                        Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to recreation map" href="https://recreation.azmag.gov/" target="_blank"><img alt="mag recreation icon" class="img-responsive"
                                src="images/viewer-icons/icon_recreation.png" /></a></p>
                    <h3>Recreation</h3>
                    <p>View recreational opportunities that exist in the region.</p>
                    <p class="about-link"><a aria-label="link to recreation map" data-toggle="modal" data-target="#recreation">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to recreation map" href="https://recreation.azmag.gov/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to bikemap map" href="https://geo.azmag.gov/maps/bikemap/" target="_blank"><img alt="mag bikeways icon" class="img-responsive"
                                src="images/viewer-icons/icon_bicycle.png" /></a></p>
                    <h3>Bikeways</h3>
                    <p>Find existing, locally-designated bicycle facilities in the region.</p>
                    <p class="about-link"><a aria-label="link to bikemap map" data-toggle="modal" data-target="#bikeways">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to bikemap map" href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to landuse map" href="https://geo.azmag.gov/maps/landuse/" target="_blank"><img alt="mag landuse icon" class="img-responsive"
                                src="images/viewer-icons/icon_landUse.png" /></a></p>
                    <h3>Land Use<br>Explorer</h3>
                    <p>Vew land use and development data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a aria-label="link to landuse map" data-toggle="modal" data-target="#landUse">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to landuse map" href="https://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to projections map" href="https://geo.azmag.gov/maps/projections/" target="_blank"><img alt="mag projections icon" class="img-responsive"
                                src="images/viewer-icons/icon_projections.png" /></a></p>
                    <h3>Projections</h3>
                    <p>View selected socioeconomic projection data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a aria-label="link to projections map" data-toggle="modal" data-target="#projections">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to projections map" href="https://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/lukeafb/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_56_FW.png" /></a></p>
                    <h3>Luke Air Force Base<br>Mission Critical</h3>
                    <p>Workforce, transportation, education and recreation in the West Valley.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#lukeafb">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/lukeafb/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/landmarks/" target="_blank"><img class="img-responsive"
                                src="images/viewer-icons/icon_neighborhoodExplorer.png" /></a></p>
                    <h3>Neighborhood<br>Explorer</h3>
                    <p>Find amenities and features within Maricopa County, Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#neighborhood">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/landmarks/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div> -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to atp map" href="https://geo.azmag.gov/maps/atp/" target="_blank"><img alt="mag atp icon" class="img-responsive"
                                src="images/viewer-icons/icon_atp.png" /></a></p>
                    <h3>Active Transportation Plan</h3>
                    <p>View the interactive comments map for the MAG Active Transportation Plan.</p>
                    <p class="about-link"><a aria-label="link to atp map" data-toggle="modal" data-target="#atp">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to atp map" href="https://geo.azmag.gov/maps/atp/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to tip map" href="https://geo.azmag.gov/maps/tip/" target="_blank"><img alt="mag tip icon" class="img-responsive"
                                src="images/viewer-icons/icon_tip.png" /></a></p>
                    <h3 style="font-size: 22px">Transportation Improvement Program</h3>
                    <p>Explore capital improvement programs for transportation projects in the region.</p>
                    <p class="about-link"><a aria-label="link to tip map" data-toggle="modal" data-target="#tip">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to tip map" href="https://geo.azmag.gov/maps/tip/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to urban map" href="https://arcg.is/18bWXq" target="_blank"><img alt="mag urban icon" class="img-responsive" src="images/viewer-icons/icon_urban.png" /></a>
                    </p>
                    <h3 style="font-size: 22px">Urban Areas Explorer</h3>
                    <p>Explore the differences in Arizona urban area boundaries between 2000 and 2010.</p>
                    <p class="about-link"><a aria-label="link to urban map" data-toggle="modal" data-target="#urbanAreas">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to urban map" href="https://arcg.is/18bWXq" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a aria-label="link to real estate map" href="https://arcg.is/1uWW951" target="_blank"><img alt="mag real estate icon" class="img-responsive"
                                src="images/viewer-icons/icon_real_estate.png" /></a></p>
                    <h3 style="font-size: 22px">Phoenix Residential Real Estate</h3>
                    <p>Explore the Phoenix Metro Residential Real Estate Map Viewer data.</p>
                    <p class="about-link"><a aria-label="link to real estate map" data-toggle="modal" data-target="#realEstate">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a aria-label="link to real estate map" href="https://arcg.is/1uWW951" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://hrn.azmag.gov/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_heat_relief.png" /></a></p>
                    <h3 style="font-size: 22px">Heat Relief Regional Network</h3>
                    <p>A resource to help prevent heat-related and heat caused deaths among vulnerable populations</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#heatRelief">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://hrn.azmag.gov/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
    </div>
</div>
