<div class="container">
    <div class="footer-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Contact</h4>
                <p><a href="https://www.azmag.gov/" target="_blank">Maricopa Association of Governments</a>
                    <br> 302 North 1st Avenue, Suite 200
                    <br> Phoenix, Arizona 85003
                    <br><em class="fa fa-phone contact"></em> (602) 254-6300
                    <br><em class="fa fa-envelope contact"></em><a href="https://www.azmag.gov/Contact/4788?" onClick="openNewWindow(this); return false"> Jason Howard, GIS Manager</a>
                </p>
            </div>
            <div class="col-md-5">
                <h4>Subscribe for Updates</h4>
                <p>Subscribe to get notified of new features and page updates.</p>
                <form class="subscribeForm form-inline" id="GD-snippet-form" action="https://public.govdelivery.com/accounts/AZMAG/subscribers/qualify" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input type="hidden" name="authenticity_token" value="/5yaZ/1ZgA9i/fRDmNHSwpF9Tmu1hW2wjk39z5MUYyADQvi3BzUGMU232OVdSC0m930iW9T/WeVTcUufD3th3Q==" />
                    <input type="hidden" name="topic_id" id="topic_id" value="AZMAG_224" />
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email" required />
                    </div>
                    <button type="submit" name="commit" class="form_button">Subscribe</button>
                </form>
            </div>
            <div class="col-md-3">
                <h4>Follow Us</h4>
                <p class="social-media">
                    <a class="facebook track" href="https://www.facebook.com/MAGRegional/" target="_blank" title="Facebook"><em class="fa fa-facebook-f"></em></a>
                    <a class="twitter track" href="https://twitter.com/magregion" target="_blank" title="Twitter"><em class="fa fa-twitter"></em></a>
                    <a class="youtube track" href="https://www.youtube.com/user/MAGCommunications" target="_blank" title="Youtube"><em class="fa fa-youtube"></em></a>
                    <a class="embed modal-anchor track" data-toggle="modal" data-target="#embedModal" title="Embed in your site"><em class="fa fa-code"></em></a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-links">
        <ul>
            <li><a class="track" href="https://www.azmag.gov/About-Us/About-MAG" aria-label="about link">About</a></li>
            <li><a class="track" href="releaseHistory.html" aria-label="release history link">Release History</a></li>
            <li><a class="track" href="trainings.html" aria-label="trainings link">Trainings</a></li>
            <li><a class="track" href="https://geodata-azmag.opendata.arcgis.com/" aria-label="open data link">Open Data</a></li>
        </ul>
    </div>
</div>
<div class="copyrightTerms">
    <p>Copyright&nbsp;&copy;&nbsp;<span class="copyright"></span>&nbsp;<a href="https://www.azmag.gov/" aria-label="mag homepage link" target="_blank">Maricopa Association of
            Governments</a>&nbsp;|&nbsp;
        <span class="version"></span>&nbsp;|&nbsp;<a class="modal-anchor track" data-toggle="modal" data-target="#privacyModal" aria-label="privacy modal link">Privacy</a>&nbsp;|&nbsp;
        <a class="modal-anchor track" data-toggle="modal" data-target="#termsModal" aria-label="terms modal link">Terms</a>
    </p>
</div>
<!--privacy modal-->
<div class="modal fade" id="privacyModal" role="dialog"></div>
<!--terms modal-->
<div class="modal fade" id="termsModal" role="dialog"></div>
<!--embed modal-->
<div class="modal fade" id="embedModal" role="dialog"></div>
