<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/azdemographics/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_statewide-demographics.png"/></a></p>
                    <h3>State <br>Demographics</h3>
                    <p>View selected population and housing data for the entire State of Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#stateDemographics">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://rad.azmag.gov/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_recreation.png" /></a></p>
                    <h3>Regional Activity &amp; <br>Destination</h3>
                    <p>View all recreational opportunities that exist in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#rad">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://rad.azmag.gov/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://readonarizona.org/data-center/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_mapLIT.png" /></a></p>
                    <h3>Read On Arizona <br>
                    MapLIT</h3>
                    <p>A resource to identify key data sets that impact early literacy outcomes.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#readOnAZ">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://readonarizona.org/data-center/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/employment/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_employment.png" /></a></p>
                    <h3>Employment</h3>
                    <p>View selected employment data for all of Maricopa and Pinal County, Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#employment">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/employment/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/azemployment/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon-employer-state.png" /></a></p>
                    <h3>Statewide<br>Employment</h3>
                    <p>View selected employment data for all of the State of Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#stateEmployment">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/azemployment/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/bikemap/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_bicycle.png" /></a></p>
                    <h3>Bikeways</h3>
                    <p>Find existing, locally-designated bicycle facilities in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#bikeways">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/landuse/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_landUse.png" /></a></p>
                    <h3>Land Use<br>Explorer</h3>
                    <p>Vew land use and development data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#landUse">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/projections/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_projections.png" /></a></p>
                    <h3>Projections</h3>
                    <p>View selected socioeconomic projection data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#projections">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/landmarks/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_landmarks.png" /></a></p>
                    <h3>Neighborhood<br>Explorer</h3>
                    <p>Find amenities and features within Maricopa County, Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#neighborhood">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/landmarks/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/atp/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_atp.png" /></a></p>
                    <h3>Active Transportation Plan</h3>
                    <p>View the interactive comments map for the MAG Active Transportation Plan.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#atp">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/atp/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/tip/" target="_blank"><img class="img-responsive" src="images/viewer-icons/icon_tip.png" /></a></p>
                    <h3 style="font-size: 22px">Transportation Improvement Program</h3>
                    <p>Explore capital improvement programs for transportation projects in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#tip">about <em class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/tip/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
    </div>
</div>
