<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="vid-container track">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NJxUMxsuFTk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <h2>Trainings and Tutorials</h2>
            <p>Learn how to access demographic and employer data for your community, the region, and throughout the
                state of Arizona.</p>
            <p>Training is available throughout the year so be sure to reserve a spot today! </p>

            <p class="more"><a class="btn-one track" href="trainings.html">Sign Up for Training</a></p>
        </div>
    </div>
</div>
