<h3>Past Updates</h3>
<section>
    <h4>Statewide Employment Viewer - v1.1.1</h4>
    <h5>October 19, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Initial Launch of the MAG Statewide Employment Viewer</li>
        </ul>
    </div>
</section>
<section>
    <h4>Regional Activity &amp; Destination Viewer - v1.0.2</h4>
    <h5>October 19, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in vector basemap</li>
        </ul>
    </div>
</section>
<!-- Update 08/22/2017-->
<section>
    <h4>Regional Activity &amp; Destination Viewer - v1.0.1</h4>
    <h5>August 30, 2017   </h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added hockey activity</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Updated labels on satellite when zooming</li>
            <li>Fixed bug when clicking park logo - only show item once</li>
        </ul>
    </div>
</section>
<!-- Update 08/22/2017-->
<section>
    <h4>Employment Viewer - v4.3.7</h4>
    <h5>August 22, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in Interactive Summary Buffer Selection tool</li>
        </ul>
    </div>
</section>
<!-- Update 08/07/2017-->
<section>
    <h4>Employment Viewer - v4.3.6</h4>
    <h5>August 07, 2017   </h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated MAG employer data to 2016 data</li>
            <li>Added FDI-Internationally Owned Businesses/employers to map selection</li>
            <li>Added Key Industries to map selection</li>
            <li>Added Commute Shed Intersection points</li>
            <li>Added Commute Shed reports</li>
            <li>Updated PDF reports with new data</li>
            <li>Added Key Industries Tab to Summary reports</li>
            <li>Added International Summary Tab to Summary reports</li>
            <li>Added Internationally Owned Businesses Tab to Summary reports</li>
            <li>Rounded all Employee totals to nearest 10th</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in percentage values in Worker Occupation Tab</li>
        </ul>
    </div>
</section>
<!-- Update 07/24/2017-->
<section>
    <h4>Regional Activity &amp; Destination Viewer - v1.0.0</h4>
    <h5>July 24, 2017   </h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Viewer Launch</li>
            <li>Added ability to search regional parks</li>
            <li>Added ability to search for regional activities</li>
            <li>Added ability to search for regional destinations</li>
            <li>Added regional trails</li>
            <li>Added regional public transportation info</li>
        </ul>
    </div>
</section>
<!-- Update 04/14/2017-->
<section>
    <h4>MAG Region Demographic Viewer - v4.0.3</h4>
    <h5>April 14, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added some Census fields back to Map</li>
            <li>Added some Census fields back into the Advanced Query</li>
            <li>Added area fields back into the Advanced Query</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug related to editing in markup tool</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v3.0.6</h4>
    <h5>April 14, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added some Census fields back to Map</li>
            <li>Added some Census fields back into the Advanced Query</li>
            <li>Added area fields back into the Advanced Query</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug related to editing in markup tool</li>
        </ul>
    </div>
</section>
<!-- Update 04/05/2017-->
<section>
    <h4>Employment Viewer - v4.2.16</h4>
    <h5>April 05, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added new field Jurisdiction to database</li>
            <li>Updated loading icon</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed Health Care Cluster name</li>
            <li>Fixed issue with ASU employer point</li>
            <li>Fixed issue with PDF reports link</li>
            <li>Fixed issue with popup for employers</li>
            <li>Fixed Employer list tab query</li>
            <li>Fixed issue with legend rendering on initial load</li>
        </ul>
    </div>
</section>
<!-- Update 03/31/2017-->
<section>
    <h4>Land Use Viewer - v3.0.3</h4>
    <h5>March 31, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated Existing Land Use (EXLU) to 2016 data</li>
            <li>Updated Future Land Use (FLU) to 2016 data</li>
            <li>Updated Land Use summaries table</li>
            <li>Updated Geo-processing Tools</li>
            <li>Updated PDF reports</li>
            <li>Added County boundaries</li>
            <li>Added MAG Region boundary</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Adjusted Legend widow Location on startup</li>
            <li>Adjusted Reports widow Location on startup</li>
            <li>Fixed loading issue with new layers</li>
            <li>Fixed data source errors</li>
            <li>Fixed Gov Delivery Icon</li>
        </ul>
    </div>
</section>
<!-- Update 03/22/2017-->
<section>
    <h4>MAG Region Demographic Viewer - v4.0.1</h4>
    <h5>March 22, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated ACS data to 2011-2015 5-year - Most current data</li>
            <li>Added new ACS data</li>
            <li>Updated charts to include new data</li>
            <li>Update to PDF reports to reflect new data changes</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in comparison checkbox</li>
            <li>Fixed data issue in Advanced Query dropdowns</li>
            <li>Fixed loading icon</li>
            <li>Fixed Export bug for Selected Block Groups</li>
            <li>Updated Kendo UI dependencies [Kendo UI R1 2017 SP1]</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v3.0.4</h4>
    <h5>March 22, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Updated Kendo UI dependencies [Kendo UI R1 2017 SP1]</li>
        </ul>
    </div>
</section>
<!-- Update 03/21/2017-->
<section>
    <h4>State Demographic Viewer - v3.0.3</h4>
    <h5>March 21, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated ACS data to 2011-2015 5-year - Most current data</li>
            <li>Added new ACS data</li>
            <li>Updated charts to include new data</li>
            <li>Added COG/MPO summary tab</li>
            <li>Added Title VI data to COG/MPO report</li>
            <li>Update to PDF reports to reflect new data changes</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug with advanced query removing items out of order</li>
            <li>Fixed various spelling issues</li>
            <li>Fixed sorting issue in drop-down menus</li>
            <li>Fixed legend issues</li>
            <li>Fixed flicker on chart refresh</li>
        </ul>
    </div>
</section>
<!-- Update 01/12/2017-->
<section>
    <h4>MAG Bikeways Viewer - v3.2.0</h4>
    <h5>January 12, 2017</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated bike shop info - Removed Closed added New</li>
            <li>Added Phoenix Sonoran Bikeway to map</li>
            <li>Added USBR90 to map</li>
            <li>Updated GRID bike share data for Phoenix and Mesa</li>
            <li>Updated Light Rail Line</li>
            <li>Updated Transit Locations</li>
            <li>Added a Help Page</li>
            <li>Added a search function</li>
        </ul>
    </div>
</section>
<!-- Update 09/26/2016-->
<section>
    <h4>Employment Viewer - v4.2.7</h4>
    <h5>September 26, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated employer data for 2015</li>
            <li>Updated TRP maps and data for 2015</li>
            <li>Updated PDF report Services for 2015 data</li>
            <li>Updated Kendo UI dependencies</li>
            <li>Updated ArcGIS JavaScript dependencies</li>
            <li>Added loading splash screen</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug with interactive summary - point of interest hover text</li>
        </ul>
    </div>
</section>
<!-- Update 06/28/2016-->
<section>
    <h4>Projections Map Viewer - v2.2.0</h4>
    <h5>June 28, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>New Updated JavaScript Viewer</li>
            <li>New 2016 - 2050 data</li>
            <li>Multiple map frames for ease of data exploration</li>
            <li>Exporting data tables via excel</li>
            <li>PDF reports for designated regions</li>
            <li>Drawing tools to add context to your map</li>
            <li>Share functionality for social media</li>
            <li>Address search capability</li>
        </ul>
    </div>
</section>
<!-- Update 06/24/2016-->
<section>
    <h4>MAG Region Demographic Viewer - v3.1.7</h4>
    <h5>June 24, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in comparison checkbox</li>
            <li>Fixed data issue in Advanced Query dropdowns</li>
            <li>Fixed loading icon</li>
            <li>Fixed Export bug for Selected Block Groups</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.2.10</h4>
    <h5>June 24, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in comparison checkbox</li>
            <li>Fixed data issue in Advanced Query dropdowns</li>
            <li>Fixed loading icon</li>
            <li>Fixed Export bug for Selected Block Groups</li>
        </ul>
    </div>
</section>
<!-- Update 06/16/2016-->
<section>
    <h4>Employment Viewer - v4.2.3</h4>
    <h5>June 16, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added USPS ZIP codes to reports tab</li>
            <li>Added link to open ZIP code report from popup</li>
            <li>Reformat excel download report from Data Query</li>
            <li>Updated PDF reporting service to include emp points</li>
            <li>Added zip code layer to search</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug with Excel exports on cluster summaries</li>
            <li>Fixed printing error with labels overlapping</li>
            <li>Fixed bug with zip codes turning black after hovering over clusters</li>
            <li>Fixed bug with clusters and emp points shown at same time</li>
            <li>Fixed print map to include graphics from the map</li>
        </ul>
    </div>
</section>
<!-- Update 06/15/2016-->
<section>
    <h4>MAG Region Demographic Viewer - v3.1.6</h4>
    <h5>June 15, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated ACS Data to 2010-2014 5-year</li>
            <li>Added tab to split Census and ACS data</li>
            <li>Added new charts in the ACS Charts Tab - Age Pyramid and Occupations</li>
            <li>Added ZIP code data (ZCTAs)</li>
            <li>Updated PDF Reports to reflect new data</li>
            <li>Added popups to council, zip codes and supervisor district layers</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in supervisor district pdf reports</li>
            <li>Fixed IE bug with comparison summary reports</li>
            <li>Fixed bug with service for PDF reports</li>
            <li>Fixed bug with excel reports button only downloading once</li>
            <li>Fixed bug in base-layer operation - base-layer disappeared after imagery layer turned on/off</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.2.9</h4>
    <h5>June 14, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added Summary Link to all Popups</li>
            <li>Added Popup to County Layer</li>
            <li>Updated interactive summary to include selected graphics</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Updated share functionality to work with multiple map frames</li>
            <li>Fixed bug with service for PDF reports</li>
            <li>Fixed bug with excel reports button only downloading once</li>
            <li>Fixed IE bug with comparison summary reports</li>
        </ul>
    </div>
</section>
<section>
    <h4>MAG Land Use Viewer - v3.0.1</h4>
    <h5>June 09, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug with PDF reports not downloading</li>
        </ul>
    </div>
</section>
<section>
    <h4>MAG Bikeways Viewer - v3.1.2</h4>
    <h5>June 08, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated bike shop info - Removed Closed added New</li>
            <li>Updated PDF link to 2015 MAG Bike Map</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug with geolocation</li>
        </ul>
    </div>
</section>
<!-- Update 06/08/2016-->
<section>
    <h4>MAG Neighborhood Explorer - v4.0.0</h4>
    <h5>June 08, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>New look and feel</li>
            <li>Updated data for 2016</li>
            <li>Added drawing buffer tools for query selection</li>
            <li>Added results section form query selection</li>
            <li>Added print map function</li>
            <li>Added map sharing function</li>
        </ul>
    </div>
</section>
<!-- Update 05/24/2016-->
<section>
    <h4>Employment Viewer - v4.2.0</h4>
    <h5>May 24, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added NAICS lookup link in Employment Clusters window</li>
            <li>Added Excel export button and report to data query results window</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug Facebook Share</li>
            <li>Fixed broken Gov Delivery image link</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.2.6</h4>
    <h5>May 24, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated ACS Data to 2010-2014 5-year</li>
            <li>Added tab to split Census and ACS data</li>
            <li>Added new charts in the ACS Charts Tab - Age Pyramid and Occupations</li>
            <li>Added ZIP code data (ZCTAs)</li>
            <li>Changed label from Jurisdictions to Place</li>
            <li>Updated PDF Reports to reflect new data</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug Facebook Share</li>
            <li>Fixed broken Gov Delivery image link</li>
        </ul>
    </div>
</section>
<!-- Update 05/04/2016-->
<section>
    <h4>Employment Viewer - v4.1.16</h4>
    <h5>May 04, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug affecting employer layer clustering</li>
            <li>Fixed PDF export object length allowing for larger custom export</li>
        </ul>
    </div>
</section>
<!-- Update 04/06/2016-->
<section>
    <h4>State Demographic Viewer - v2.1.6</h4>
    <h5>April 06, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug blocking access to some city reports</li>
        </ul>
    </div>
</section>
<!-- Update 03/25/2016-->
<section>
    <h4>Land Use Viewer - v3.0.0</h4>
    <h5>March 25, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>New updated data for Future Land Use records</li>
            <li>New updated data for Existing Land Use records</li>
            <li>Added a layer swipe tool</li>
            <li>Added Custom Summary Reports</li>
            <li>Added buffer selection tool</li>
            <li>Added custom Data Query Report tool</li>
            <li>Added Markup Tools</li>
            <li>Improved the share capabilities</li>
            <li>Updated UI API's</li>
        </ul>
    </div>
</section>
<section>
    <h4>Employment Viewer - v4.1.14</h4>
    <h5>March 25, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>New updated data for employment records</li>
            <li>New clustering of employment records for faster loading</li>
            <li>Added the ability to turn clustering on or off</li>
            <li>Updated UI API's</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed cluster loading for IE and all browsers</li>
            <li>Fixed window openings and closings for reports</li>
            <li>Fixed bug when opening several data query windows</li>
            <li>Fixed cluster definitions Excel export link</li>
            <li>Fixed styling issues in FireFox browser</li>
            <li>Fixed various styling issues on the tabs</li>
        </ul>
    </div>
</section>
<!-- Update 03/01/2016-->
<section>
    <h4>MAG Region Demographic Viewer - v3.0.12</h4>
    <h5>March 01, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed URL config for advanced query</li>
            <li>Changed main service URL and config files</li>
            <li>Fixed data issue with Council District Summary</li>
            <li>Fixed data issue with Supervisor District Summary</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.1.5</h4>
    <h5>March 01, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed URL config for advanced query</li>
            <li>Changed main service URL and config files</li>
        </ul>
    </div>
</section>
<section>
    <h4>MAG Region Demographic Viewer - v3.0.10</h4>
    <h5>February 04, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed URL for Excel export service</li>
            <li>Fixed Excel download in block groups tab report</li>
            <li>Fixed bug to ensure multiple map frame layers stay in sync</li>
            <li>Fixed bug in the download PDF reports</li>
            <li>Changed PDF Reports to open in a new tab or window</li>
            <li>Fixed bug in search that was preventing county search from working</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.1.3</h4>
    <h5>February 04, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug in the download PDF reports</li>
            <li>Changed PDF Reports to open in a new tab or window</li>
            <li>Fixed bug in search that was preventing jurisdiction search from working</li>
            <li>Fixed count of selected block groups</li>
            <li>Fixed bug to ensure multiple map frame layers stay in sync</li>
        </ul>
    </div>
</section>
<section>
    <h4>Employment Viewer - v4.1.11</h4>
    <h5>February 03, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed various spelling/grammer issues</li>
            <li>Fixed data query drop down with multiple listings</li>
            <li>Fixed report window title size and name issue</li>
            <li>Fixed CSS issues</li>
            <li>Removed ZIP code summary</li>
            <li>Removed ZIP code from search</li>
        </ul>
    </div>
</section>
<section>
    <h4>State Demographic Viewer - v2.1.1</h4>
    <h5>February 02, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated the Advanced Query Reports</li>
            <li>Added percentages to the Advanced Query Reports</li>
            <li>Added more options to the Comparison button</li>
            <li>Added ability to print map as JPG</li>
            <li>Updated basemaps</li>
            <li>Added markup tools</li>
            <li>Added info window links to open summary windows</li>
            <li>Added label to print window to notify user selected map will be printed</li>
            <li>Added option to zoom to selection on buffer</li>
            <li>Added popups to the Legislative Districts layer</li>
            <li>Added popups to the Congressional Districts layer</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed issue with chart labels being cut off in reports</li>
            <li>Fixed a bug when trying to print map with multiple map frames</li>
            <li>Fixed layer options to include place layer</li>
            <li>Fixed export pdf reports</li>
            <li>Fixed print map legend</li>
            <li>Fixed legend to change opacity on layer opacity changes</li>
            <li>Fixed various CSS issues</li>
            <li>Updated the Share feature</li>
            <li>Updated Kendo UI</li>
            <li>Updated ArcGIS JavaScript API</li>
        </ul>
    </div>
</section>
<section>
    <h4>MAG Region Demographic Viewer - v3.0.8</h4>
    <h5>February 02, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Updated the Advanced Query Reports</li>
            <li>Added percentages to the Advanced Query Reports</li>
            <li>Added more options to the Comparison button</li>
            <li>Added ability to print map as JPG</li>
            <li>Updated basemaps</li>
            <li>Added markup tools</li>
            <li>Added multiple map frame options</li>
            <li>Added label to print window to notify user selected map will be printed</li>
            <li>Added option to zoom to selection on buffer</li>
            <li>Updated loading symbol</li>
            <li>Added ability to see place layer</li>
            <li>Added a Subscribe link in the Help menu</li>
            <li>Improved the search box abilities</li>
            <li>Layers now turn on for each report when clicked</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed export pdf reports</li>
            <li>Fixed print map legend</li>
            <li>Fixed legend to change opacity on layer opacity changes</li>
            <li>Fixed various CSS issues</li>
            <li>Fixed bug in the advanced query where it did not clear old data item on selection</li>
            <li>Fixed legend to change opacity on layer opacity changes</li>
            <li>Updated the Share feature</li>
            <li>Updated Kendo UI</li>
            <li>Updated ArcGIS JavaScript API</li>
        </ul>
    </div>
</section>
<section>
    <h4>Employment Viewer - v4.1.8</h4>
    <h5>January 22, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Fixed bug resetting TOC choice to all industry clusters when data query widow is opened</li>
        </ul>
    </div>
</section>
<section>
    <h4>Employment Viewer - v4.1.7</h4>
    <h5>January 22, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Minor CSS change to fix cross browser compatibility</li>
            <li>Minor SVG change to fix cross browser compatibility</li>
        </ul>
    </div>
</section>
<section>
    <h4>Employment Viewer - v4.1.6</h4>
    <h5>January 21, 2016</h5>
    <div class="indent-section">
        <h5 class="indicator indicator-new">NEW</h5>
        <ul>
            <li>Added new 2014 TRP data</li>
            <li>Added new 2014 Employer data</li>
            <li>Added new live/work maps</li>
            <li>Added zip code summary layer</li>
            <li>Added zip code to search</li>
            <li>Added HUB zone summary layer</li>
            <li>Added Foreign Trade zone summary layer</li>
            <li>Added ability to export Maps to JPEG</li>
            <li>Changed basemap setup</li>
            <li>Removed density from thematic maps</li>
            <li>Added Share Feature</li>
            <li>Added Markup Tools</li>
            <li>Added 2014 Employer points layer</li>
            <li>Added Employer Lists to summary reports</li>
            <li>Added Data Query</li>
            <li>Added help document link</li>
        </ul>
        <h5 class="indicator indicator-fixed">FIXED</h5>
        <ul>
            <li>Changed layer order to ensure that the "Employers" layer is always on top</li>
            <li>Changed Cluster Definitions to show hierarchical pattern more accurately</li>
            <li>Fix job center highlight on row hover</li>
            <li>Correct source label for Cluster Definitions window</li>
            <li>Fixed spelling and grammar errors</li>
        </ul>
    </div>
</section>
