<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#carousel-section" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-section" data-slide-to="1"></li>
    <li data-target="#carousel-section" data-slide-to="2"></li>
    <li data-target="#carousel-section" data-slide-to="3"></li>
    <li data-target="#carousel-section" data-slide-to="4"></li>
    <li data-target="#carousel-section" data-slide-to="5"></li>
    <li data-target="#carousel-section" data-slide-to="6"></li>
    <li data-target="#carousel-section" data-slide-to="7"></li>
    <li data-target="#carousel-section" data-slide-to="8"></li>
    <li data-target="#carousel-section" data-slide-to="9"></li>
    <li data-target="#carousel-section" data-slide-to="10"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <div id="slide-0" class="carousel-image">
            <div class="carousel-content">
                <h2>Explore the MAG Interactive Map Viewers</h2>
                <p>Learn how to access demographic and employment data for your community, the region, and throughout the state of Arizona.  Training is available throughout the year so be sure to reserve a spot today!</p>
                <p class="button-group"><a class="btn-one" href="trainings.html">Sign Up for Training</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-1" class="carousel-image">
            <div class="carousel-content">
                <h2>State Demographics</h2>
                <p>The State Demographics Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing selected population and housing data for the entire State of Arizona.</p>
                <p class="button-group"><a class="btn-white" data-toggle="modal" data-target="#stateDemographics">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-2" class="carousel-image">
            <div class="carousel-content">
                <h2>Regional Activity &amp; Destination</h2>
                <p>The Regional Activity and Destination Viewer is one of the Maricopa Association of Governments interactive mapping sites, showing all the public parks and recreational opportunities that exist in the region.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#rad">About the Viewer</a><a class="btn-one" href="https://rad.azmag.gov/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-3" class="carousel-image">
            <div class="carousel-content">
                <h2>Read On Arizona MapLIT</h2>
                <p>Maricopa Association of Governments is part of Read On Arizona's collaborative partnership that created MapLIT, and interactive mapping tool as a "one stop" resource to identify key data sets (census, school, health, family engagement) that impact early literacy outcomes in communities.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#readOnAZ">About the Viewer</a><a class="btn-one" href="http://readonarizona.org/data-center/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-4" class="carousel-image">
            <div class="carousel-content">
                <h2>Employment</h2>
                <p>The Employment Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing selected employer data.</p>
                <p class="button-group"><a class="btn-white" data-toggle="modal" data-target="#employment">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/employment/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-5" class="carousel-image">
            <div class="carousel-content">
                <h2>Statewide Employment</h2>
                <p>The Statewide Employment Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing selected statewide employer data.</p>
                <p class="button-group"><a class="btn-white" data-toggle="modal" data-target="#stateEmployment">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/azemployment/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-6" class="carousel-image">
            <div class="carousel-content">
                <h2>Bikeways</h2>
                <p>The Bikeways Map Viewer is one of the Maricopa Association of Governments interactive mapping sites, showing locally-designated bicycle facilities data.</p>
                <p class="button-group"><a class="btn-white" data-toggle="modal" data-target="#bikeways">About the Viewer</a><a class="btn-one" href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-7" class="carousel-image">
            <div class="carousel-content">
                <h2>Land Use Explorer</h2>
                <p>The Land Use Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing land use data.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#landUse">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-8" class="carousel-image">
            <div class="carousel-content">
                <h2>Projections</h2>
                <p>The Projections Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing socioeconomic projections data.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#projections">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-9" class="carousel-image">
            <div class="carousel-content">
                <h2>Neighborhood Explorer</h2>
                <p>The MAG Neighborhood Explorer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing landmark data.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#neighborhood">About the Viewer</a><a class="btn-one" href="http://geo.azmag.gov/maps/landmarks/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-10" class="carousel-image">
            <div class="carousel-content">
                <h2>Spine Study</h2>
                <p>The Spine Study effort is analyzing various long-term strategies to improve mobility in the corridor. The study is evaluating the full range of transportation modes and concepts to identify the best multi-modal solutions. These long-term solutions are envisioned as a combination of traditional methods, new technology, and increased use of transit (such as buses.)</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#spineStudy">About the Viewer</a><a class="btn-one" href="http://bit.ly/SpineStudy" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-11" class="carousel-image">
            <div class="carousel-content">
                <h2>MAG Active Transportation Plan</h2>
                <p>The MAG Regional Active Transportation Plan will serve as a guide for investing in, improving, expanding and connecting the MAG region’s bicycle and pedestrian network, along with the network connections to the region’s transit system.</p>
                <p class="button-group"><a class="btn-white modal-button" data-toggle="modal" data-target="#atp">About the Viewer</a><a class="btn-one" href="https://geo.azmag.gov/maps/atp/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Left and right controls -->
<a class="left carousel-control" href="#carousel-section" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
<a class="right carousel-control" href="#carousel-section" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
