<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#carousel-section" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-section" data-slide-to="1"></li>
    <li data-target="#carousel-section" data-slide-to="2"></li>
    <li data-target="#carousel-section" data-slide-to="3"></li>
    <li data-target="#carousel-section" data-slide-to="4"></li>
    <li data-target="#carousel-section" data-slide-to="5"></li>
    <li data-target="#carousel-section" data-slide-to="6"></li>
    <li data-target="#carousel-section" data-slide-to="7"></li>
    <li data-target="#carousel-section" data-slide-to="8"></li>
    <li data-target="#carousel-section" data-slide-to="9"></li>
    <li data-target="#carousel-section" data-slide-to="10"></li>
    <li data-target="#carousel-section" data-slide-to="11"></li>
    <li data-target="#carousel-section" data-slide-to="12"></li>
    <li data-target="#carousel-section" data-slide-to="13"></li>
    <li data-target="#carousel-section" data-slide-to="14"></li>
    <!-- <li data-target="#carousel-section" data-slide-to="14"></li> -->
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <div id="slide-0" class="carousel-image">
            <div class="carousel-content">
                <h2>Explore the MAG Interactive Map Viewers</h2>
                <p>Learn how to access demographic and employer data for your community, the region, and throughout the
                    state of Arizona. Training is available throughout the year so be sure to reserve a spot today!</p>
                <p class="button-group"><a class="btn-one btn-sm" href="trainings.html">Sign Up for Training</a></p>
            </div>
        </div>
    </div>
    <!-- <div class="item">
        <div id="slide-1" class="carousel-image">
            <div class="carousel-content">
                <h2>Arizona Health Assets</h2>
                <p>The Arizona Health Asset Map Viewer is one of the Maricopa Association of Governments interactive
                    mapping and analysis sites, showing selected population data, healthcare facilities, and COVID-19
                    info for the entire State of
                    Arizona.</p>
                <p class="button-group"><a class="btn-white btn-sm" data-toggle="modal" data-target="#healthcare">About
                        the viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/health/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div> -->
    <div class="item">
        <div id="slide-1" class="carousel-image">
            <div class="carousel-content">
                <h2>Arizona Demographics</h2>
                <p>The Arizona Demographics Map Viewer is one of the Maricopa Association of Governments interactive
                    mapping and analysis sites, showing selected population and housing data for the entire State of
                    Arizona.</p>
                <p class="button-group"><a class="btn-white btn-sm" data-toggle="modal" data-target="#stateDemographics">About
                        the viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-2" class="carousel-image">
            <div class="carousel-content">
                <h2>Arizona Employer</h2>
                <p>The Arizona Employer Map Viewer is one of the Maricopa Association of Governments interactive mapping
                    and analysis sites, showing selected statewide employer data.</p>
                <p class="button-group"><a class="btn-white btn-sm" data-toggle="modal" data-target="#stateEmployment">About
                        the viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/azemployer/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-3" class="carousel-image">
            <div class="carousel-content">
                <h2>Read On Arizona MapLIT</h2>
                <p>Maricopa Association of Governments is part of Read On Arizona's collaborative partnership that
                    created MapLIT, and interactive mapping tool as a "one stop" resource to identify key data sets
                    (census, school, health, family engagement) that impact early literacy outcomes in communities.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#readOnAZ">About the viewer</a><a class="btn-one btn-sm"
                        href="https://readonarizona.org/data-tools/maplit/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-4" class="carousel-image">
            <div class="carousel-content">
                <h2>Read On Arizona Schools Data Center</h2>
                <p>Maricopa Association of Governments is part of Read On Arizona's collaborative partnership that
                    created the Arizona Schools Data Center. The Arizona Schools Data Center is a tool to help users
                    model and analyze school-level data, measure progress, and drive decisions that improve educational
                    outcomes towards achievement of the Arizona Progress Meter goals.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#schoolsDataCenter">About the viewer</a><a class="btn-one btn-sm"
                        href="https://readonarizona.org/data-tools/arizona-schools-data-center/" target="_blank">Launch
                        Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-5" class="carousel-image">
            <div class="carousel-content">
                <h2>Recreation</h2>
                <p>The Recreation viewer is one of the Maricopa Association of Governments
                    interactive mapping sites, showing public parks and recreational opportunities that exist in
                    the region.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#recreation">About
                        the viewer</a><a class="btn-one btn-sm" href="https://recreation.azmag.gov/" target="_blank">Launch
                        Map</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-6" class="carousel-image">
            <div class="carousel-content">
                <h2>Bikeways</h2>
                <p>The Bikeways Map Viewer is one of the Maricopa Association of Governments interactive mapping sites,
                    showing locally-designated bicycle facilities data.</p>
                <p class="button-group"><a class="btn-white btn-sm" data-toggle="modal" data-target="#bikeways">About
                        the
                        viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch
                        Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-7" class="carousel-image">
            <div class="carousel-content">
                <h2>Land Use Explorer</h2>
                <p>The Land Use Map Viewer is one of the Maricopa Association of Governments interactive mapping and
                    analysis sites, showing land use data.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#landUse">About the viewer</a><a class="btn-one btn-sm"
                        href="https://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>

    <div class="item">
        <div id="slide-8" class="carousel-image">
            <div class="carousel-content">
                <h2>Projections</h2>
                <p>The Projections Map Viewer is one of the Maricopa Association of Governments interactive mapping and
                    analysis sites, showing socioeconomic projections data.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#projections">About the viewer</a><a class="btn-one btn-sm"
                        href="https://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-9" class="carousel-image">
            <div class="carousel-content">
                <h2>Luke Air Force BaseMission Critical</h2>
                <p>This interactive map viewer offers extraordinary detail about workforce, transportation,
                    education and recreation in the West Valley. Start exploring the unique resources of the available to Luke Air Force Base and the West Valley.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#lukeafb">About the viewer</a><a class="btn-one btn-sm"
                        href="https://geo.azmag.gov/maps/lukeafb/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <!-- <div class="item">
        <div id="slide-10" class="carousel-image">
            <div class="carousel-content">
                <h2>Neighborhood Explorer</h2>
                <p>The MAG Neighborhood Explorer is one of the Maricopa Association of Governments interactive mapping
                    and analysis sites, showing landmark data.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal"
                        data-target="#neighborhood">About the viewer</a><a class="btn-one btn-sm"
                        href="https://geo.azmag.gov/maps/landmarks/" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div> -->
    <div class="item">
        <div id="slide-11" class="carousel-image">
            <div class="carousel-content">
                <h2>Active Transportation Plan</h2>
                <p>The MAG Regional Active Transportation Plan will serve as a guide for investing in, improving,
                    expanding and connecting the MAG region’s bicycle and pedestrian network, along with the network
                    connections to the region’s transit system.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#atp">About
                        the viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/atp/" target="_blank">Launch
                        Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-12" class="carousel-image">
            <div class="carousel-content">
                <h2>Transportation Improvement Program</h2>
                <p>The MAG Transportation Improvement Program (TIP) is a five year schedule of specific projects to be
                    constructed across the region. Explore capital improvement programs for transportation projects in
                    the region.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#tip">About
                        the viewer</a><a class="btn-one btn-sm" href="https://geo.azmag.gov/maps/tip/" target="_blank">Launch
                        Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-13" class="carousel-image">
            <div class="carousel-content">
                <h2>Urban Areas Explorer</h2>
                <p>The MAG Urban Areas Explorer is one of the Maricopa Association of Governments interactive mapping
                    sites showing the differences between the 2000 and the 2010 Urban Areas boundaries in Arizona.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#urbanAreas">About the viewer</a><a class="btn-one btn-sm"
                        href="https://arcg.is/18bWXq" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div id="slide-14" class="carousel-image">
            <div class="carousel-content">
                <h2>Phoenix Residential Real Estate</h2>
                <p>Explore the Phoenix Metro Residential Real Estate Map Viewer data.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal" data-target="#realEstate">About the viewer</a><a class="btn-one btn-sm"
                        href="https://arcg.is/1uWW951" target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div>
    <!-- <div class="item">
        <div id="slide-14" class="carousel-image">
            <div class="carousel-content">
                <h2>Heat Relief Regional Network</h2>
                <p>The MAG Heat Relief Map is a resource to help prevent heat-related and heat caused deaths among
                    vulnerable populations.</p>
                <p class="button-group"><a class="btn-white btn-sm modal-button" data-toggle="modal"
                        data-target="#heatRelief">About the viewer</a><a class="btn-one btn-sm"
                        href="https://azmag.gov/Programs/Homelessness/Heat-Relief-Regional-Network"
                        target="_blank">Launch Map</a></p>
            </div>
        </div>
    </div> -->
</div>
<!-- Left and right controls -->
<a class="left carousel-control" href="#carousel-section" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-section" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
</a>
