<nav class="navbar navbar-default">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#magNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.azmag.gov/"><img class="img-responsive"
                    src="images/logos/MAG-logo.png" /></a>
        </div>
        <div class="collapse navbar-collapse" id="magNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navLink track" href="index.html">Maps Home</a></li>
                <li><a class="navLink track" href="trainings.html">Trainings</a></li>
                <li><a class="navLink track" href="https://geodata-azmag.opendata.arcgis.com/">Open Data</a></li>
                <li><a class="navLink track" href="https://www.azmag.gov/About-Us/About-MAG">About</a></li>
                <li class="navLink shareButton track">
                    <button data-target="#shareBox"><em class="fa fa-share-alt"></em></button>
                </li>
                <div id="shareBox">
                    <h5>Share this page!</h5>
                    <div class="shareLinks">
                        <ul>
                            <li><a id="EMshareButton"
                                    href="mailto:?subject=MAG Mapping Center&amp;body=%0A%0ACheck out this website.%0A%0AMAG Mapping Center - #MAGmaps%0Ahttps://maps.azmag.gov/"
                                    title="MAG|Mapping Center"><em class="fa fa-envelope"></em></a></li>
                            <li><a id="FBshareButton" title="Share on Facebook"><em
                                        class="fa fa-facebook-f track"></em></a></li>
                            <li><a id="TWshareButton" title="Share on Twitter"><em class="fa fa-twitter track"></em></a>
                            </li>
                            <li><a id="INshareButton" title="Share on LinkedIn"><em
                                        class="fa fa-linkedin track"></em></a></li>
                            <!-- <li><a id="GPlusShareButton" title="Share on Google Plus"><em
                                        class="fa fa-google-plus track"></em></a></li> -->
                            <li><a id="embedShareButton" data-toggle="modal" data-target="#embedModal"
                                    title="Embed in your site"><em class="fa fa-code track"></em></a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
