/* ==========================================================================
   Colors
========================================================================== */
.embed:hover {
  background: #8fc33b;
  color: #ffffff;
}

.share-embed {
  height: 120px;
  padding-bottom: 5px;
}

.embed-row {
  text-align: center;
  padding: 30px 15px 30px 15px;
}

.btn {
  padding: 7.45px 20px;
}

.btn-mag {
  background-color: #baebee;
}
