@import "../../styles/colors";

.magNavbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .navbar-nav {
    align-items: center;
    .nav-link {
      font-weight: 700;
      text-transform: uppercase;
      color: $main-color;

      &:hover {
        background: $main-color;
        color: $text-white;
        border-radius: 4px;
      }
      &.shareButton {
        & > button {
          padding: 1px 8px 1px 8px;
          background: none;
          outline: none;
          border: none;
          border-radius: 4px;
          color: $main-color;

          &:hover {
            background: $main-color;
            color: $text-white;
          }
          &.active {
            background: $background-main;
            color: $main-color;
          }
        }
      }
    }
  }
}
