/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Import font from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*General*/
body{
    font-family: 'Open Sans', sans-serif;
}

a{
    font-weight: 600;
    color: #2baab1;
}

a:hover{
    color: #01777D;
    text-decoration: none;
}

a:focus{
    color: #01777D;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #e2e2e2;
}

.image{

}

.img-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
}

.img-wrapper:after{
    content: "";
    background: rgba(36,27,28,.9);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 4px;
    bottom: -4px;
    color: #FFF;
    left: -4px;
    position: absolute;
    right: -4px;
    top: -4px;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0.65;
    z-index: 1;
}

.linkImageOverlay:hover .img-wrapper:after{
    opacity: 0;
}

.overlayTitle{
     position: absolute;
    color: white;
    z-index: 3;
    top: 42%;
    bottom: 50%;
    width: 100%;
    left: 0;
    height: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.scrollTop{
    background: rgba(0,0,0,0.7);
    /* padding: 10px; */
    height: 50px;
    width: 60px;
    font-size: 20px;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    outline: none;
    bottom: 0px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.35s;
}

/*Navbar styles*/
.navbar-default{
    background: white;
    padding: 10px 0px;
    margin-bottom: 0px;

}

.navbar-brand{
    height: 100%;
    width: 100%;
    max-width: 350px;
}
.navbar-brand > img{
    margin: auto;
}

#magNavbar{
	overflow: unset;
}

#magNavbar .navbar-nav{
    margin-top: 16.039px;
	position: relative;
}

#magNavbar .nav > li > a{
    padding: 10px 13px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2baab1;
    margin:2px;
}

#magNavbar .nav > li > a:hover{
    background: #2baab1;
    color: white;
    border-radius: 4px;
}

#magNavbar .navbar-nav > li.active > a{

    background: #2baab1;
    color: white;
    border-radius: 4px;

}

#magNavbar .nav > li.shareButton > button:hover{
	background: #2baab1;
	color: white;
}

.shareButton button{
	font-size: 30px;
	padding: 5px 13px 3px 13px;
	background: none;
	outline:none;
	border: none;
    border-radius: 4px;
	color: #2baab1;

}

#magNavbar .nav > li.shareButton > button.active{
	background: white;
	color:  #2baab1;
}

#shareBox{
	display: none;
    z-index: 2;
	position: absolute;
    bottom: -90px;
    right: 0;
    background: white;
    padding: 10px 20px;
    border: thin solid #ccc;
    border-radius: 4px;
}

#shareBox.active{
	display: inline-block;
}

.shareLinks a{
	cursor: pointer;
	height: 33px;
	width: 33px;
	display: inline-flex;
}

.shareLinks a:hover{
	opacity: 0.8;
}

.shareLinks ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.shareLinks li{
	display: inline-block;
	margin: 0px -2px;
}

#EMshareButton{
	background: #efbe00;
	color: white;
}

#FBshareButton{
	background: #3B5998;
	color: white;
}

#TWshareButton{
	background:#1DA1F2;
	color: white;
}

#INshareButton{
	background: #0077B5;
	color:white;
}

#GPlusShareButton{
	background: #DB4437;
	color: white;
}

.shareLinks em{
	margin: auto;
}

/*Home header with black bar*/
#homeBarHeader{
	background-color: #171717;
    border-top: 5px solid #384045;

    min-height: 50px;
    padding: 20px 0px 0px;
    position: relative;
    text-align: left;
}

#homeBarHeader h2{
	color: #FFF;
    display: inline-block;
    font-weight: 200;
    min-height: 37px;
    font-size: 2.6em;
    line-height: 46px;
    padding: 0 0 17px;
	margin-bottom: 0px;

}


/*Carousel Styles*/
#slide-0{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/carousel/main_state.jpg');
    background-position: center;
    background-size: cover;
}
#slide-1{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/carousel/main_demographic.jpg');
    background-position: center;
    background-size: cover;
}
#slide-2{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/carousel/main_employment.jpg');
    background-position: center;
    background-size: cover;
}
#slide-3{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/carousel/main_mapLit.jpg');
    background-position: center;
    background-size: cover;
}
#slide-4{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/carousel/main_schools-data-center.jpg');
    background-position: center;
    background-size: cover;
}
#slide-5{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/carousel/main_recreation.jpg');
    background-position: bottom;
    background-size: cover;
}
#slide-6{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/carousel/cyclists-carousel-image.jpg');
    background-position: top;
    background-size: cover;
}
#slide-7{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/carousel/south-mountain-carousel-img.jpg');
    background-position: center;
    background-size: cover;
}
#slide-8{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/carousel/main_projections.jpg');
    background-position: bottom;
    background-size: cover;
}
#slide-9{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/carousel/main_landmarks.jpg');
    background-position: bottom;
    background-size: cover;
}
#slide-10{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/carousel/main_atp.jpg');
    background-position: top;
    background-size: cover;
}
#slide-11{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/carousel/main_tip.png');
    background-position: center;
    background-size: cover;
}
#slide-12{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/carousel/main_urban.jpg');
    background-position: center;
    background-size: cover;
}

.carousel-image{
    width: 100%;
    max-width: 1900px;
    height: 40vh;
    display: flex;
}

.carousel-content{
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:50%;
    text-align: center;
    color: white;
    z-index: 3;
}

.carousel-content h2{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.carousel-content p{
    font-size: 20px;
}

.carousel-content .button-group{
    font-size: 16px;
}


/*Video and training info section on homepage*/
#videoAndTraining{
	background: linear-gradient(rgba(40,155,161,0.9),rgba(40,155,161,0.9)),url('../images/img_az-map-lg.JPG');
	background-size: cover;
	background-position: center;
	color: white;
	position: relative;
	padding: 60px 15px;
}

#videoAndTraining p{
	font-size: 16px;
}

.button-bottom{
	margin-top: 35px;
}



/*Map list section*/

#maps-section{
    margin: 80px 0px;
}

.map-box{
    transition: box-shadow 0.35s;
    margin-bottom: 20px;
}

.map-box:hover{
    box-shadow: 0px 0px 15px 5px #e9e9e9;
}

.map-box img{
    max-height: 110px;
    display: block;
    margin: auto;
    transition: all 0.45s;
}

.map-box img:hover{
    transform: scale(0.9,0.9);
}

.map-box h3{
    text-align: center;
}

.map-box p{
    text-align: center;
    margin-bottom: 18px;
}

.map-box-content{
    border: thin solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 18px;
    position: relative;
    min-height: 310px;
}


.about-link{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 18px 18px 0px;

}

.about-link a{
    color: #f79664;
    cursor: pointer;
}

.map-launch{
    text-align: center;
}

.map-launch a{
    display: block;
    padding: 8px;
    text-transform: uppercase;
    color: #2baab1;
    background: #f4f7fa;
    border-bottom: thin solid #ddd;
    border-left: thin solid #ddd;
    border-right: thin solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background 0.15s;

}

.map-launch a:hover{
    background: #ddd;
    text-decoration: none;
}

.release{
    padding: 0px;
    list-style-position: inside;
}

/*homepage video section*/

#video-section{
    padding: 60px 0px;
    background: #f4f7fa;

    border-top: thin solid #ddd;
}

/*Video gallery*/
.vid-container {
    position: relative;
    padding-bottom: 52%;
    height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-section{
    padding: 0px 150px;
}

.text-on-video{
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
}

.play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    z-index: 63;
    outline: 0;
    border: none;
    background: url('https://s.ytimg.com/yts/img/large_play_button_ringo-vfljWXIdx.png') center center / 100% no-repeat;
}

#current-vid button {
    background: url('https://s.ytimg.com/yts/img/large_play_button_hover_ringo-vfl7vEehF.png') center center / 100% no-repeat;

}

.vid-description{
    display: none;
}


.custom-list{
    list-style: none;
    padding: 0px;
}

.custom-list em{
    padding: 0px 15px 0px 25px;
}

/*Buttons*/

.more{
    text-align: center;
}

.button-group a{
    margin: 15px 12px;
    cursor: pointer;
}

.btn-white{
    display: inline-block;
    padding: 5px 20px;
    border: 4px solid white;
    color: white;
    border-radius: 5px;
    transition: all 0.15s;
}

.btn-white:hover{
    background: white;
    color: #333;
    text-decoration: none;
}

.btn-one{
    display: inline-block;
    background: #f79664;
    color: white;
    padding: 5px 20px;
    border: 4px solid #f79664;
    border-radius: 5px;
    transition: all 0.15s;
}

.btn-one:hover{
    text-decoration: none;
    border: 4px solid #DB733E;
    background: #DB733E;
    color: white;
}

.btn-one:focus{
    color: white;
}

.btn-two{
    display: inline-block;
    padding: 5px 20px;
    border: 4px solid #f79664;
    color: #f79664;
    border-radius: 5px;
    transition: all 0.15s;
}

.btn-two:hover{
    background: #f79664;
    color: #fff;
    text-decoration: none;
}
/*End buttons*/

/*Modal styles*/

.modal-header {
    background-color: #BCE2E6;
}
.modal-title {
    font-size: 30px;
    font-weight: 700;
}

.modal-content h1, .modal-content h2,
.modal-content h3, .modal-content h4,
.modal-content h5{
    color: #333;
}

.modal-content{
    color: #333;
}

.modal-content p{
    color: #333;
}

.modal-icon{
    float: left;
    padding: 0px 20px 20px 0px;
    max-height: 130px
}

.modal-body {
    min-height: 118px;
    /* margin: 20px 0px; */
    padding: 25px;
}

.modal-body p{
    font-size: 16px;
}

.modal-body h4{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 20px;
}

.modal-body .lead{
    margin-bottom: 50px;
    font-size: 18px;
}

.modal-content .button-group a{
    margin: 0px 7px;
}

.modal-content .btn{
    padding: 7.45px 20px;
}

.modal-anchor{
    cursor: pointer;
}

/*Inner pages*/

.innerPageHeader{
    height:35vh;
    position: relative;
    display: flex;
}

#rhHeader{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/img_map-state.JPG');
    background-position: center;
    background-size: cover;
}

#trHeader{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/img_using-computer-2.jpg');
    background-position: bottom;
    background-size: cover;
}

.headerText{
    color: white;
    margin: auto;
    text-align: center;
    width: 60%;
}

.headerText h2{
    font-weight: 800;
    font-size: 40px;
}

.page-content{
    margin: 40px 0px;
}

.page-content h3{
    margin-bottom: 20px;
}

.in-page-nav{
    padding: 30px 0px 20px;
    border-bottom: thin solid #ddd;
}

.in-page-nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.in-page-nav ul li{
    display: inline-block;
    margin: 0px 5px;
    height: 36px;
}

.in-page-nav a{
    display: inline-block;
    color: #333;
    padding: 0px 3px 10px;
    font-size: 16px;
}

.in-page-nav a:hover{
    color: #2baab1;
}

.in-page-nav a:focus{
    border-bottom: 4px solid #2baab1;
    text-decoration: none;
}

.in-page-nav a.active{
    border-bottom: 4px solid #2baab1;
    pointer-events: none;
}

.indicator{
    display: inline-block;
    padding: 6px 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.indicator:after{
       left: -11px;
    right: auto;
    border-left-width: 11px;
    border-right-width: 0;
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    border-style: solid;
    border-width: 11.5px;
}

.indicator-new{
    background: #a9e15c;

}

.indicator-new:after{
     border-color: #a9e15c transparent;
}

.indicator-fixed{
    background: #ffd73f;
}

.indicator-fixed:after{
    border-color:  #ffd73f transparent;
}

#releaseHistory h4{
    color:  #2baab1;
}

#releaseHistory section{
    border-bottom: thin solid #e2e2e2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#releaseHistory section:last-of-type{
    border-bottom: none;
}


.indent-section{
    margin-left: 30px;
}

#trainingTutorials{
    margin-bottom: 70px;
}

#trainingTutorials h4{
    margin: 20px 0px 20px;
}

#trainingTutorials h4:first-of-type{
    margin: 10px 0px;
}

.trainingSchedule{
	margin-bottom: 35px;
}

.trainingSchedule h4{
	border-bottom: thin solid #ddd;
	padding: 0px 10px 10px;
}

.scheduleList{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.scheduleList li{
	display: inline-block;
	height: 70px;
	width: 70px;
	text-align: center;
	text-transform: uppercase;
	margin: 5px 2.5px;

}

.scheduleList li > a{
	display: block;
	background: #eee;
	padding: 15px 0px;
}

.scheduleList li > a:hover{
	background: #BCE2E6;
}


/*Footer section*/

footer{
    padding: 40px 0px 0px;;
    background: #333;
    color: #fff;
}

.contact{
	margin-right: 10px;
}

footer a{
    color: white;
    font-weight: 700;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer p{
    font-size: 13px;
}

footer h4{
    color: #aaa;
    margin-bottom: 20px;
}

footer .container{
}

.footer-body{
    margin-bottom: 40px;
}

.social-media a{
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    text-align: center;
    color: #333;
    margin-right: 10px;
    transition: all 0.2s;
}

.social-media a:hover{
    text-decoration: none;
}

.facebook:hover{
    background: #3B5998;
    color: white;
}

.twitter:hover{
    background: #1DA1F2;
    color: white;
}

.youtube:hover{
    background: #bb0000;
    color: white;
}

.social-media em{
    margin: auto;
    font-size: 17px;
}

.subscribeForm .form-group{
    width: 60%;
}

.subscribeForm .form-group input{
    width: 100%;
    margin-top: -3px;
}

.form_button{
    background: #f79664;
    outline: none;
    padding: 6px 20px;
    border-radius: 4px;
    border: 1px solid #f79664;
}

.copyrightTerms{
    background: #000;
    text-align: center;
    padding: 15px 0px;
}

.copyrightTerms p{
    font-size: 11px;
}

.footer-links{
    margin-bottom: 20px;
}

.footer-links ul{
    list-style: none;
    text-align: center;
}

.footer-links ul li{
    display: inline;
    margin: 0px 7px;
}

.footer-links a{
    font-weight: 400;
    color: #fff;
}

/*Styles for mobile devices*/

@media screen and (max-width:1460px){



}

@media screen and (max-width: 1260px){
    .carousel-image {
        height: 60vh;
    }
    .innerPageHeader{
        height:40vh;
    }
}

@media screen and (max-width: 925px){
    .carousel-content h2, .headerText h2{
        font-size: 35px;
    }

    .carousel-content p{
        font-size: 20px;
    }


}

@media screen and (max-width: 840px){
    .button-group a {
        margin: 5px;
        cursor: pointer;
    }

    .carousel-content{
        width: 65%;
    }

    .headerText {

        width: 75%;
    }
}
@media screen and (max-width:767px){
	#shareBox{
		right: auto;
		left: 0;
	}
}

@media screen and (max-width: 650px){

    .carousel-content h2, .headerText h2{
        font-size: 33px;
    }

    .carousel-content p{
        font-size: 16px;
    }
}

@media screen and (max-width: 548px){


    .innerPageHeader{
    height:50vh;
    }
}

@media screen and (max-width: 420px ){

    .navbar-brand > img{
        max-width: 220px
    }
    .navbar-brand{
        width: auto;
    }

    .carousel-content h2, .headerText h2{
        font-size: 28px;
    }

    .carousel-content p{
        font-size: 14px;
    }

    .carousel-image {

    height: 60vh;

}

}

@media screen and (max-height: 700){
    .carousel-image {
        height: 75vh;
    }
}

@media screen and (max-height: 670px){

    .carousel-image {
        height: 40vh;
    }

    .innerPageHeader{
    height:60vh;
    }
}

@media screen and (max-height: 570px ){

    .carousel-image {
        height: 40vh;
		min-height: 560px;
    }



}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
