/* ==========================================================================
   Colors
========================================================================== */
footer {
  padding: 40px 0px 0px;
  background: #333333;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

footer p {
  font-size: 13px;
}

footer h4 {
  color: #aaaaaa;
  margin-bottom: 20px;
}

.contact {
  margin-right: 10px;
}

.footer-body {
  margin-bottom: 40px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  text-align: center;
}

.footer-links ul li {
  display: inline;
  margin: 0px 7px;
}

.footer-links a {
  font-weight: 400;
  color: #ffffff;
}

.subscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribeForm .form-group {
  width: 60%;
}

.subscribeForm .form-group input {
  width: 100%;
  margin-top: -3px;
}

.form_button {
  background: #f79664;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #f79664;
}

.form_button:hover {
  text-decoration: none;
  border: 1px solid #f47534;
  background: #f47534;
  color: #ffffff;
}

.copyrightTerms {
  background: #000000;
  text-align: center;
  padding: 15px 0px;
}

.copyrightTerms p {
  font-size: 11px;
}

.scrollTop {
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 60px;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: fixed;
  outline: none;
  bottom: 0px;
  right: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* ==========================================================================
   Social Media
========================================================================== */
.shareButton button {
  font-size: 30px;
  padding: 5px 13px 3px 13px;
  background: none;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #2baab1;
}

#shareBox {
  display: none;
  z-index: 2;
  position: absolute;
  bottom: -90px;
  right: 0;
  background: #ffffff;
  padding: 10px 20px;
  border: thin solid #cccccc;
  border-radius: 4px;
}

#shareBox:active {
  display: inline-block;
}

.shareLinks a {
  cursor: pointer;
  height: 33px;
  width: 33px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.shareLinks a:hover {
  opacity: 0.8;
}

.shareLinks ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.shareLinks li {
  display: inline-block;
  margin: 0px -2px;
}

.shareLinks em {
  margin: auto;
}

#EMshareButton {
  background: #efbe00;
  color: #ffffff;
}

#FBshareButton {
  background: #3b5998;
  color: #ffffff;
}

#TWshareButton {
  background: #1da1f2;
  color: #ffffff;
}

#INshareButton {
  background: #0077b5;
  color: #ffffff;
}

#GPlusShareButton {
  background: #db4437;
  color: #ffffff;
}

#embedShareButton {
  background: #8fc33b;
  color: #ffffff;
}

.social-media a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  color: #333333;
  margin-right: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-media a:hover {
  text-decoration: none;
}

.social-media em {
  margin: auto;
  font-size: 17px;
}

.facebook:hover {
  background: #3b5998;
  color: #ffffff;
}

.twitter:hover {
  background: #1da1f2;
  color: #ffffff;
}

.youtube:hover {
  background: #bb0000;
  color: #ffffff;
}

.btn-mag {
  background-color: #baebee;
}
