@import "../../styles/colors";

footer {
  padding: 40px 0px 0px;
  background: $background-alt3;
  color: $text-white;

  a {
    color: $text-white;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $text-white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  p {
    font-size: 13px;
  }

  h4 {
    color: $text-alt2;
    margin-bottom: 20px;
  }
}

.contact {
  margin-right: 10px;
}

.footer-body {
  margin-bottom: 40px;
  .col1 {
    display: flex;
    justify-content: flex-start;
  }
  .col2 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .col3 {
    display: flex;
    justify-content: flex-end;
  }
  #email {
    border-radius: 5px 0 0 5px;
  }
  .form_button {
    background: $form-button;
    outline: none;
    border-radius: 5px;
    border: 1px solid $form-button;

    &:hover {
      text-decoration: none;
      border: 1px solid darken($form-button, 10%);
      background: darken($form-button, 10%);
      color: $text-white;
    }
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .nav-link {
    font-weight: 400;
    color: $text-white;

    &:hover {
      background: $background-alt1;
      color: $text-alt1;
      border-radius: 4px;
    }
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-alt2;
  font-size: 11px;
  padding: 15px 0px;
}

.scrollTop {
  background: rgba($background-alt2, 0.7);
  height: 50px;
  width: 60px;
  font-size: 20px;
  color: $text-white;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: fixed;
  outline: none;
  bottom: 0px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.35s;
}

/* ==========================================================================
   Social Media
========================================================================== */

.shareLinks {
  a {
    cursor: pointer;
    height: 33px;
    width: 33px;
    display: inline-flex;

    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    display: inline-block;
    margin: 0px -2px;
  }

  em {
    margin: auto;
  }
}

#EMshareButton {
  background: $email;
  color: $text-white;
}

#FBshareButton {
  background: $facebook;
  color: $text-white;
}

#TWshareButton {
  background: $twitter;
  color: $text-white;
}

#INshareButton {
  background: $linkedin;
  color: $text-white;
}

#GPlusShareButton {
  background: $googleplus;
  color: $text-white;
}

#embedShareButton {
  background: $share;
  color: $text-white;
}

.social-media {
  a {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: $background-main;
    border-radius: 50%;
    text-align: center;
    color: $text-alt1;
    margin-right: 10px;
    transition: all 0.2s;

    &:hover {
      text-decoration: none;
    }
  }

  em {
    margin: auto;
    font-size: 17px;
  }
}

.facebook:hover {
  background: $facebook;
  color: $text-white;
}

.twitter:hover {
  background: $twitter;
  color: $text-white;
}

.youtube:hover {
  background: $youtube;
  color: $text-white;
}
