/* ==========================================================================
   Colors
========================================================================== */
/*Video and training info section on homepage*/
#trainingHero {
  padding: 60px 0px;
  background: #f4f7fa;
  border-top: thin solid #dddddd;
}

.video-section {
  padding: 0px 150px;
}

/*Video gallery*/
.vid-container {
  position: relative;
  padding-bottom: 52%;
  height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form_button {
  background: #f79664;
  outline: none;
  border-radius: 5px;
  border: 1px solid #f79664;
}

.form_button:hover {
  text-decoration: none;
  border: 1px solid #f3651b;
  background: #f3651b;
  color: #ffffff;
}

.trainingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
