/********************************************************
 Media Queries
*********************************************************/
/*==========  Mobile First Method  ==========*/
/* Medium Devices, Desktops */

@media screen and (max-width: 925px) {
    .carousel-content h2,
    .headerText h2 {
        font-size: 35px;
    }

    .carousel-content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 840px) {
    .button-group a {
        margin: 5px;
        cursor: pointer;
    }

    .carousel-content {
        width: 65%;
    }

    .headerText {
        width: 75%;
    }
}
