/* ==========================================================================
   Training Page
========================================================================== */

#trainingTutorials {
    margin-bottom: 70px;
}

#trainingTutorials h4 {
    margin: 20px 0px 20px;
}

#trainingTutorials h4:first-of-type {
    margin: 10px 0px;
}

.trainingSchedule {
    margin-bottom: 35px;
}

.trainingSchedule h4 {
    border-bottom: thin solid #ddd;
    padding: 0px 10px 10px;
}

.scheduleList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.scheduleList li {
    display: inline-block;
    height: 70px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 2.5px;
}

.scheduleList li>a {
    display: block;
    background: #eee;
    padding: 15px 0px;
}

.scheduleList li>a:hover {
    background: #BCE2E6;
}
