<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="embedModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Share our Interactive Map Viewers</h3>
        </div>
        <div class="modal-body">
            <p>Copy and paste the codes below to embed a link to the viewers on your own webpage.</p>

            <div class="row embed-row">
                <div class="col-lg-4">
                    <img class="share-embed" src="app/images/share/MAG-maps-share-icon.png" alt="image">
                    <div class="input-group input-group-sm">
                        <input id="copy1" type="text" class="form-control" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyFunction('copy1')">Copy
                                text</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="share-embed" src="app/images/share/Employment-share-icon.png" alt="image">
                    <div class="input-group input-group-sm">
                        <input id="copy2" type="text" class="form-control" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyFunction('copy2')">Copy
                                text</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="share-embed" src="app/images/share/demographics-share-icon.png" alt="image">
                    <div class="input-group input-group-sm">
                        <input id="copy3" type="text" class="form-control" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyFunction('copy3')">Copy
                                text</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <div class="row embed-row">
                <div class="col-lg-4">
                    <img class="share-embed" src="app/images/share/bikeways-share-icon.png" alt="image">
                    <div class="input-group input-group-sm">
                        <input id="copy4" type="text" class="form-control" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyFunction('copy4')">Copy
                                text</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="share-embed" src="app/images/share/RAD-share-icon.png" alt="image">
                    <div class="input-group input-group-sm">
                        <input id="copy5" type="text" class="form-control" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyFunction('copy5')">Copy
                                text</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a></p>
        </div>
    </div>
</div>


<script>
    function copyFunction(e) {
        /* Get the text field */
        var copyText = document.getElementById(e);

        /* Select the text field */
        copyText.focus();
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        // alert("Copied the text: " + copyText.value);
    }

    $(document).ready(function () {

        if (window.location.href.indexOf('#embedModal') != -1) {
            $('#embedModal').modal('show');
        }

    });

</script>
