<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Land Use Explorer Map Viewer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="app/images/viewer-icons/icon_landUse.png">The Land Use Map Viewer is one of the Maricopa Association of Governments interactive mapping and analysis sites, showing land use data. The viewer allows you to graphically view land use and development data for all or virtually any contiguous subset of Maricopa County and Pinal County, Arizona. </p>
            <p>The viewer provides interactive mapping and reporting tools to allow exploration of the MAG 2017 Existing Land Use, Future Land Use, and Developments datasets. The Existing Land Use dataset is created by integrating GIS datasets from a variety of sources including the Maricopa County Assessor's Office, Arizona State Trust and Federal ownership. The Future Land Use dataset is created by overriding areas with developable land uses (e.g. vacant, agriculture) with anticipated land uses prescribed within municipal developments and general plans. The Developments dataset is created by compiling proposed development projects from MAG Member Agencies</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
