<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Arizona Urban Areas Map Explorer</h3>
        </div>
        <div class="modal-body">
            <p class="lead"><img class="modal-icon img-responsive" src="app/images/viewer-icons/icon_urban.png">The MAG Arizona Urban Areas Map Explorer provides an interface for viewing the differences between the 2000 and the 2010 Urban Areas boundaries in Arizona.  The U.S. Census Bureau delineates the urban boundaries after each Decennial Census.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a><a class="btn-one" href="https://arcg.is/18bWXq" target="_blank">Launch Map</a></p>
        </div>
    </div>
</div>
