<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/health/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_mag_healthcare.png" /></a></p>
                    <h3>Arizona<br>Healthcare</h3>
                    <p>View selected healthcare data for the entire State of Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#healthcare">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/health/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/azdemographics/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_statewide-demographics.png" /></a></p>
                    <h3>Arizona<br>Demographics</h3>
                    <p>View selected population and housing data for the entire State of Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#stateDemographics">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/azdemographics/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/azemployer/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon-employer-state.png" /></a></p>
                    <h3>Arizona<br>Employer</h3>
                    <p>View selected employer data for the entire State of Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#stateEmployment">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/azemployer/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="http://readonarizona.org/data-tools/maplit/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_mapLIT.png" /></a></p>
                    <h3>Read On Arizona<br>MapLIT</h3>
                    <p>A resource to identify key data sets that impact early literacy outcomes.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#readOnAZ">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="http://readonarizona.org/data-tools/maplit/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="http://readonarizona.org/data-tools/arizona-schools-data-center/" target="_blank"><img
                                class="img-responsive" src="app/images/viewer-icons/icon_schoolsDataCenter.png" /></a>
                    </p>
                    <h3>Read On Arizona<br>Schools Data Center</h3>
                    <p>A tool to help analyze data and drive decisions to improve educational outcomes.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#schoolsDataCenter">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="http://readonarizona.org/data-tools/arizona-schools-data-center/" target="_blank">Launch
                        Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4  col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://rad.azmag.gov/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_recreation.png" /></a></p>
                    <h3>Regional Activity &amp;<br>Destination</h3>
                    <p>View all recreational opportunities that exist in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#rad">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://rad.azmag.gov/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/bikemap/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_bicycle.png" /></a></p>
                    <h3>Bikeways</h3>
                    <p>Find existing, locally-designated bicycle facilities in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#bikeways">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/bikemap/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="http://geo.azmag.gov/maps/landuse/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_landUse.png" /></a></p>
                    <h3>Land Use<br>Explorer</h3>
                    <p>Vew land use and development data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#landUse">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="http://geo.azmag.gov/maps/landuse/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="http://geo.azmag.gov/maps/projections/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_projections.png" /></a></p>
                    <h3>Projections</h3>
                    <p>View selected socioeconomic projection data for all of Maricopa and Pinal County.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#projections">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="http://geo.azmag.gov/maps/projections/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/landmarks/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_neighborhoodExplorer.png" /></a></p>
                    <h3>Neighborhood<br>Explorer</h3>
                    <p>Find amenities and features within Maricopa County, Arizona.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#neighborhood">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/landmarks/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/atp/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_atp.png" /></a></p>
                    <h3>Active Transportation Plan</h3>
                    <p>View the interactive comments map for the MAG Active Transportation Plan.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#atp">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/atp/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://geo.azmag.gov/maps/tip/" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_tip.png" /></a></p>
                    <h3 style="font-size: 22px">Transportation Improvement Program</h3>
                    <p>Explore capital improvement programs for transportation projects in the region.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#tip">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://geo.azmag.gov/maps/tip/" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://arcg.is/18bWXq" target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_urban.png" /></a></p>
                    <h3 style="font-size: 22px">Urban Areas Explorer</h3>
                    <p>Explore the differences in Arizona urban area boundaries between 2000 and 2010.</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#urbanAreas">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://arcg.is/18bWXq" target="_blank">Launch Map</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-box">
                <div class="map-box-content">
                    <p><a href="https://azmag.gov/Programs/Homelessness/Heat-Relief-Regional-Network"
                            target="_blank"><img class="img-responsive"
                                src="app/images/viewer-icons/icon_heat_relief.png" /></a></p>
                    <h3 style="font-size: 22px">Heat Relief Regional Network</h3>
                    <p>A resource to help prevent heat-related and heat caused deaths among vulnerable populations</p>
                    <p class="about-link"><a data-toggle="modal" data-target="#heatRelief">about <em
                                class="fa fa-angle-double-right"></em></a></p>
                </div>
                <div class="map-launch">
                    <a href="https://azmag.gov/Programs/Homelessness/Heat-Relief-Regional-Network"
                        target="_blank">Launch Map</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
