/* ==========================================================================
   Carousel Styles
========================================================================== */
//Main Carousel Pic
#slide-0 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/main_state.jpg");
  background-position: center;
  background-size: cover;
}

//Healthcare Carousel Pic
// #slide-1 {
//   background: linear-gradient(
//       rgba($background-alt2, 0.4),
//       rgba($background-alt2, 0.4)
//     ),
//     url("../images/carousel/main_healthcare.jpg");
//   background-position: center;
//   background-size: cover;
// }

#slide-1 {
  background: linear-gradient(
      rgba($background-alt2, 0.4),
      rgba($background-alt2, 0.4)
    ),
    url("../images/carousel/main_demographic.jpg");
  background-position: center;
  background-size: cover;
}

#slide-2 {
  background: linear-gradient(
      rgba($background-alt2, 0.3),
      rgba($background-alt2, 0.3)
    ),
    url("../images/carousel/main_employment.jpg");
  background-position: center;
  background-size: cover;
}

#slide-3 {
  background: linear-gradient(
      rgba($background-alt2, 0.4),
      rgba($background-alt2, 0.4)
    ),
    url("../images/carousel/main_mapLit.jpg");
  background-position: center;
  background-size: cover;
}

#slide-4 {
  background: linear-gradient(
      rgba($background-alt2, 0.4),
      rgba($background-alt2, 0.4)
    ),
    url("../images/carousel/main_schools-data-center.jpg");
  background-position: center;
  background-size: cover;
}

#slide-5 {
  background: linear-gradient(
      rgba($background-alt2, 0.3),
      rgba($background-alt2, 0.3)
    ),
    url("../images/carousel/main_recreation.jpg");
  background-position: bottom;
  background-size: cover;
}

#slide-6 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/cyclists-carousel-image.jpg");
  background-position: top;
  background-size: cover;
}

#slide-7 {
  background: linear-gradient(
      rgba($background-alt2, 0.5),
      rgba($background-alt2, 0.5)
    ),
    url("../images/carousel/south-mountain-carousel-img.jpg");
  background-position: center;
  background-size: cover;
}

#slide-8 {
  background: linear-gradient(
      rgba($background-alt2, 0.3),
      rgba($background-alt2, 0.3)
    ),
    url("../images/carousel/main_projections.jpg");
  background-position: center;
  background-size: cover;
}

#slide-9 {
  background: linear-gradient(
      rgba($background-alt2, 0.3),
      rgba($background-alt2, 0.3)
    ),
    url("../images/carousel/main_airforce-planes.png");
  background-position: center;
  background-size: cover;
}

// #slide-10 {
//     background: linear-gradient(rgba($background-alt2, 0.3), rgba($background-alt2, 0.3)),
//         url('../images/carousel/main_landmarks.jpg');
//     background-position: bottom;
//     background-size: cover;
// }

#slide-11 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/main_atp.jpg");
  background-position: top;
  background-size: cover;
}

#slide-12 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/main_tip.png");
  background-position: center;
  background-size: cover;
}

#slide-13 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/main_urban.jpg");
  background-position: center;
  background-size: cover;
}

#slide-14 {
  background: linear-gradient(
      rgba($background-alt2, 0.2),
      rgba($background-alt2, 0.2)
    ),
    url("../images/carousel/main-real-estate.jpg");
  background-position: bottom;
  background-size: cover;
}

// #slide-14 {
//     background: linear-gradient(rgba($background-alt2, 0.2), rgba($background-alt2, 0.2)),
//         url('../images/carousel/hrn-banner-revised.jpg');
//     background-position: center;
//     background-size: cover;
// }

.carousel-image {
  width: 100%;
  max-width: 1900px;
  height: 40vh;
  display: flex;
}

.carousel-content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
  color: $text-white;
  z-index: 3;

  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
  }

  p {
    // font-size: 20px;
  }

  .button-group {
    font-size: 16px;
  }
}

.carousel-indicators {
  bottom: 5px !important;
}
