//Colors
$text-main: #35373d;
$text-white: #ffffff;
// $text-gray: #333333;
$text-gray: #454447;
$text-warning: #cd151e;
$text-secondary: #727f8e;


$main-background: #ffffff;

$background-white: #ffffff;

$header-background: #ececec;
$header-border: #d4d4d4;

$footer-background: #d4d4d4;
$footer-border: #bcbcbc;

$box-border: #cccccc;
$grid-border: #cccccc;


$primary-color-scheme: #2b8abe;
$primary-color-accent: #226e98;
$primary-color-hover: #195272;
$primary-color-hover-accent: #11374c;


$headings: #2b8abe;
$subheadings: #708090;

//header tabs
$tab-background: #727f83;
$tab-border: #b3bbc5;


//Social Media
$email: #efbe00;
$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #bb0000;
$linkedin: #0077B5;
$googleplus: #DB4437;
$share: #8fc33b;


$pdf:#E42127;
$pdf-hover: #A41418;

//Badge Colors
$badge-border: #333333;
$badge-text: #333333;
$titleI: #cc66ff;
$frl: #2e8b57;
$chronic: #E67E22;
$attendance: #005b96;

//Grades Colors
$gradeA:#4ce600;
$gradeB:#70a800;
$gradeC:#ffffbf;
$gradeD:#fdae61;
$gradeF:#d7191c;
$gradeN:#787878;

//arrows
$no-arrow: #f9e154;

//separator
$line-color: #b3bbc5;
$banner-span-color: #d1d6de;

//Popover
$popover-bar: #ececec;
$popover-title: #2b8abe;
$popover-text: #333333;

//CheckBox
$info :#5bc0de;
$warning :#f0ad4e;
$danger: #d9534f;
$success: #5cb85c;
$primary :#337ab7;
$default: #cccccc;

//Scores
$total: #4da3d5;
$max: #639514;
$min: #cd151e;
$score: #ef4c00;


$ck-color: #D1D3D4;


