//Fonts
$base-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-popover: 'Open Sans Condensed',
Verdana,
sans-serif;

$alt-font-family:'Open Sans Condensed',
Verdana,
sans-serif;



// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy-bold: 900;
